.dropdown-form {
  input {
    margin-bottom: 5px;
  }
  height : auto;
  padding: 5px;
}

nav {
  height: 50px;
}

nav button.login {
  i {
    margin-top: 2px;
  }
  display        : flex;
  position       : absolute;
  top            : 0;
  left           : -50px;
  justify-content: space-between;
  width          : 85px;
  margin         : 7px;
}
